.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-second {
  background-color: var(--color-second);
}

.bg-orange,
.bg-color-primary {
  background-color: var(--color-primary);
}

.orange,
.color-primary {
  color: var(--color-primary);
}

.bg-brown,
.bg-color-second {
  background-color: var(--color-primary);
}

.brown,
.color-second {
  color: var(--color-primary);
}

.bg-shadow {
  background-color: var(--color-shadow);
}
