.nav-item a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.25rem;
}

.nav-item a:hover {
  color: var(--color-primary);
  border-bottom: solid 2px var(--color-primary);
}

.nav-item a:active {
  color: var(--color-primary) !important;
  --bs-navbar-active-color: var(--color-primary) !important;
}

.nav-link {
  border-bottom: solid 2px transparent;
}

.nav-link-radius {
  padding: 5px 20px;
  border-bottom: none;
  border: solid 2px var(--color-primary);
  border-radius: 25px;
}

@media (max-width: 990px) {
  .nav-item {
    background-color: var(--color-shadow);
    text-align: center;
    padding-bottom: 10px;
  }
}
