<template>
  <nav id="navbar">
    <div class="container">
      <div class="nav-wrapper">
        <a href="index.html" class="logo">
          <img
            class="logo-img"
            src="./img/logos/logo-title-devwest.png"
            alt="logomarca DevWest"
            height="40"
          />
        </a>
        <div class="menu-toggle" id="menuToggle">
          <i data-feather="menu"></i>
          <i data-feather="x" class="hidden"></i>
        </div>
        <ul class="nav-menu">
          <li><a href="/#home">Início</a></li>
          <li><a href="/#about">Sobre</a></li>
          <li><a href="/#services">Conteúdos</a></li>
          <li><a href="/#events">Eventos</a></li>
          <li><a href="/#team">Colaboradores</a></li>
          <li><a href="/#contact">Contato</a></li>
          <!-- <li><a href="#" class="btn-primary">Inscreva-se</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</template>
