<template>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-info">
          <div class="">
            <!-- <h2 class="footer-logo">DEV<span>WEST</span></h2> -->
            <img
              class="logo-img"
              src="./img/logos/logo-title-devwest.png"
              alt="logomarca DevWest"
              height="40"
            />
            <p>
              “Comece sua jornada como desenvolvedor construindo sua experiência
              com propósito”
            </p>
          </div>
          <div class="social-links">
            <a href="https://github.com/DevWestCommunity" target="_blank">
              <i data-feather="github"></i>
            </a>
            <a href="https://www.youtube.com/@dev-west" target="_blank">
              <i data-feather="youtube"></i>
            </a>
            <a
              href="https://www.facebook.com/share/1BHnbFGkYX/"
              target="_blank"
            >
              <i data-feather="facebook"></i>
            </a>
            <!-- <a href="#"><i data-feather="instagram" target="_blank"></i></a> -->
            <!-- <a href="#"><i data-feather="twitter" target="_blank"></i></a> -->
            <!-- <a href="#"><i data-feather="linkedin" target="_blank"></i></a> -->
          </div>
        </div>

        <div class="footer-links">
          <h3>Links Rápidos</h3>
          <ul>
            <li><a href="/#home">Início</a></li>
            <li><a href="/#about">Sobre nós</a></li>
            <li><a href="/#services">Conteúdos</a></li>
            <li><a href="/#events">Eventos</a></li>
            <li><a href="/#contact">Contato</a></li>
          </ul>
        </div>

        <div class="footer-links">
          <h3>Conteúdos</h3>
          <ul>
            <li>
              <a href="https://www.youtube.com/@dev-west" target="_blank"
                >Conteúdo Online</a
              >
            </li>
            <!-- <li><a href="/#contact" target="_blank">Bootcamps</a></li> -->
            <li><a href="/#contact">Mentoria</a></li>
            <li><a href="/#events">Eventos</a></li>
            <li><a href="/#contact">Consultoria</a></li>
          </ul>
        </div>

        <div class="footer-newsletter">
          <h3>Newsletter</h3>
          <p>Inscreva-se para receber novidades, eventos e oportunidades.</p>
          <form id="newsletterForm">
            <input type="email" placeholder="Seu email" required />
            <button type="submit" class="btn-primary btn-full">
              Inscrever-se
            </button>
          </form>
        </div>
      </div>

      <div class="footer-bottom">
        <p>
          &copy; <span>{{date}}</span> DevWest. Todos os direitos reservados.
        </p>
        <div class="footer-bottom-links">
          <a href="./terms.html">Termos de Uso</a>
          <a href="./polices.html">Política de Privacidade</a>
          <a href="./cookies.html">Cookies</a>
        </div>
      </div>
    </div>
  </footer>

  <script>
    feather.replace();
  </script>
</template>
